<h1>Total Number of Matching Foods: <%= @full_response[:totalHits] %></h1>

<h2>Top 10 Foods Containing <%= @full_response[:foodSearchCriteria][:ingredients].titleize %></h2>
<% @foods.each do |food| %>
  <ul class='food'>
    <li class='code'>
      <h4>GTIN/UPC code: <%= food[:gtinUpc] %></h4>
    </li>

    <li class='description'>
      <h4>description: <%= food[:description] %></h4>
    </li>

    <li class='owner'>
      <h4>Brand Owner: <%= food[:brandOwner] %></h4>
    </li>

    <li class='ingredients'>
      <h4>ingredients: <%= food[:ingredients] %></h4>
    </li>
  </ul>
<% end %>
